<h1>Skattjakten</h1>

<form method="get" action="/API/CreateDB">
    <input type="submit" value="Create database" />
</form>
<form method="get" action="/API/FillDB">
    <input type="submit" value="Add testdata" />
</form>



<button class="myButtons" id="answer"><span>Ange svar! </span></button>



