<div class="background">
    <br />

    <h1 class="riddleCentre">Här kommer frågan.</h1>

@*<form method="get" action="/API/CreateDB">
    <input type="submit" value="Create database" />
</form>
<form method="get" action="/API/FillDB">
    <input type="submit" value="Add testdata" />
</form>*@
    <div class="centerInDiv">
        <input class="centerInput" type="text" value="" placeholder="Ange svar" />
        <button class="" id="answer"><span>OK</span></button>
    </div>


</div>
