<div class="background">
    <br />

    <h1 id="riddleBox" class="riddleCentre">Skattjakten</h1>
    <div id="error"></div>
    <div id="success"></div>

<form method="get" action="/API/CreateDB">
    <input type="submit" value="Create database" />
</form>
<form method="get" action="/API/FillDB">
    <input type="submit" value="Add testdata" />
</form>
    <form method="get" action="/API/FillDB2">
        <input type="submit" value="Add testdata2" />
    </form>
    <div class="centerInDiv">
        <input id="answerBox" class="centerInput" type="text" value="" placeholder="Ange svar" />
        <button class="" id="answerButton"><span>OK</span></button>
    </div>
</div>
