body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

.backgroundImage {
  background: url('../Media/anpassadskatt.jpg') no-repeat fixed center top;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

}

.centerInput {
  text-align: center;
  width: 200px;
  border: solid 1px gray;
  padding: 10px;
  margin: 5px;
  border-radius: 20%;
  border-top-left-radius: 70%;
  border-bottom-left-radius: 70%;
  border: solid grey 3px;
  background-color:aliceblue;
}
.AnswerBottomCenter {
  margin: 100px auto;
  display: block;
  top: 40%;
  left: 40%;
  position: absolute;
  text-align: center;
  /*font: body {16px }*/
}

.centerOnSite {
  margin: 100px auto;
  display: block;
  top: 20%;
  left: 40%;
  position: absolute;
  text-align: center;
  /*font: body {16px }*/
}

.textTopCentre {
  margin: 100px auto;
  display: block;
  top: 20%;
  left: 40%;
  position: absolute;
}

.loginbutton {
  width: 228px;
  background-color: saddlebrown;
  padding: 10px;
  color: white;
  border-radius: 20%;
  border-top-left-radius: 70%;
  border-bottom-left-radius: 70%;
}

.papperslapp {
  background-image: url('../Media/papperslapp2.png');
  position: absolute;
  top: 0%;
  right: 0%;
  width:275px;
  height: 170px;
  z-index: 10;
}

.topInPapperslapp {  
  display: block;
  top: 20%;
  left: 20%;
  position: absolute;
}
.bottomInPapperslapp {
  display: block;
  top: 40%;
  left: 20%;
  position: absolute;
  font-size:larger;
}

.centerMiddleBottom {
  display: block;
  top: 100%;
  left: 20%;
  position: absolute;
  font-size: larger;
}

.codenumber {
  width: 25px;
}

.treasureDesign {
  background-image: url('../Media/kista.png'); 
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  
}

.treasureDesign2 {
  background-image: url('../Media/kistaoppen.png');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.codeInMiddle {
  margin: 100px auto;
  display: block;
  top: 39%;
  left: 49%;
  position: absolute;
  text-align: center;  
}

.keyhole {
  background-image: url('../Media/nyckelhal.png');
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 30px;
  top: 57%;
  left: 52%;
}
